<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281465461068-qajmnbdbkjj91gt8dji5ua1fjp0d2782.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281465461068-qajmnbdbkjj91gt8dji5ua1fjp0d2782</string>
	<key>API_KEY</key>
	<string>AIzaSyCjguTV99xGoP3DqOsUMi9vRStdWjBa544</string>
	<key>GCM_SENDER_ID</key>
	<string>281465461068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shop</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-2b85f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-2b85f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281465461068:ios:999916682df8a7de7897e9</string>
</dict>
</plist>